.MainInfo {
    height: 100vh;
    background-color: #28a745;
    display: flex;
    justify-content: center;
    color: white;
}
.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info {
    display: flex;
    flex-direction: column;

}
.avatar {
    width: 500px;
    height: 550px;
    border-radius: 25px;
}
@media screen and (max-width: 800px){
    .container {
        width: 80%;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
@media screen and (max-width: 640px){
    .avatar {
        width: 300px;
        height: 350px;
    }
}